body {
    background-color:rgb(177, 77, 5);
}

#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}

#menu {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    gap: 20px;
}

#titulo {
    text-align: center;
}

#frase {
    margin-top: 100px;
    text-align: center;
}

#gif {
    text-align: center;
}